.m-t-1 {
  margin-top: 1em !important; }

.p-t-1 {
  padding-top: 1em !important; }

.m-b-1 {
  margin-bottom: 1em !important; }

.p-b-1 {
  padding-bottom: 1em !important; }

.m-l-1 {
  margin-left: 1em !important; }

.p-l-1 {
  padding-left: 1em !important; }

.m-r-1 {
  margin-right: 1em !important; }

.p-r-1 {
  padding-right: 1em !important; }

.m-t-2 {
  margin-top: 2em !important; }

.p-t-2 {
  padding-top: 2em !important; }

.m-b-2 {
  margin-bottom: 2em !important; }

.p-b-2 {
  padding-bottom: 2em !important; }

.m-l-2 {
  margin-left: 2em !important; }

.p-l-2 {
  padding-left: 2em !important; }

.m-r-2 {
  margin-right: 2em !important; }

.p-r-2 {
  padding-right: 2em !important; }

.m-t-3 {
  margin-top: 3em !important; }

.p-t-3 {
  padding-top: 3em !important; }

.m-b-3 {
  margin-bottom: 3em !important; }

.p-b-3 {
  padding-bottom: 3em !important; }

.m-l-3 {
  margin-left: 3em !important; }

.p-l-3 {
  padding-left: 3em !important; }

.m-r-3 {
  margin-right: 3em !important; }

.p-r-3 {
  padding-right: 3em !important; }

.m-t-4 {
  margin-top: 4em !important; }

.p-t-4 {
  padding-top: 4em !important; }

.m-b-4 {
  margin-bottom: 4em !important; }

.p-b-4 {
  padding-bottom: 4em !important; }

.m-l-4 {
  margin-left: 4em !important; }

.p-l-4 {
  padding-left: 4em !important; }

.m-r-4 {
  margin-right: 4em !important; }

.p-r-4 {
  padding-right: 4em !important; }

.m-t-5 {
  margin-top: 5em !important; }

.p-t-5 {
  padding-top: 5em !important; }

.m-b-5 {
  margin-bottom: 5em !important; }

.p-b-5 {
  padding-bottom: 5em !important; }

.m-l-5 {
  margin-left: 5em !important; }

.p-l-5 {
  padding-left: 5em !important; }

.m-r-5 {
  margin-right: 5em !important; }

.p-r-5 {
  padding-right: 5em !important; }

.m-t-6 {
  margin-top: 6em !important; }

.p-t-6 {
  padding-top: 6em !important; }

.m-b-6 {
  margin-bottom: 6em !important; }

.p-b-6 {
  padding-bottom: 6em !important; }

.m-l-6 {
  margin-left: 6em !important; }

.p-l-6 {
  padding-left: 6em !important; }

.m-r-6 {
  margin-right: 6em !important; }

.p-r-6 {
  padding-right: 6em !important; }

.m-t-7 {
  margin-top: 7em !important; }

.p-t-7 {
  padding-top: 7em !important; }

.m-b-7 {
  margin-bottom: 7em !important; }

.p-b-7 {
  padding-bottom: 7em !important; }

.m-l-7 {
  margin-left: 7em !important; }

.p-l-7 {
  padding-left: 7em !important; }

.m-r-7 {
  margin-right: 7em !important; }

.p-r-7 {
  padding-right: 7em !important; }

.m-t-8 {
  margin-top: 8em !important; }

.p-t-8 {
  padding-top: 8em !important; }

.m-b-8 {
  margin-bottom: 8em !important; }

.p-b-8 {
  padding-bottom: 8em !important; }

.m-l-8 {
  margin-left: 8em !important; }

.p-l-8 {
  padding-left: 8em !important; }

.m-r-8 {
  margin-right: 8em !important; }

.p-r-8 {
  padding-right: 8em !important; }

.m-t-9 {
  margin-top: 9em !important; }

.p-t-9 {
  padding-top: 9em !important; }

.m-b-9 {
  margin-bottom: 9em !important; }

.p-b-9 {
  padding-bottom: 9em !important; }

.m-l-9 {
  margin-left: 9em !important; }

.p-l-9 {
  padding-left: 9em !important; }

.m-r-9 {
  margin-right: 9em !important; }

.p-r-9 {
  padding-right: 9em !important; }

.text-1 {
  font-size: 2em; }

.text-2 {
  font-size: 3em; }

.text-3 {
  font-size: 4em; }

.text-4 {
  font-size: 5em; }

.text-5 {
  font-size: 6em; }

.text-6 {
  font-size: 7em; }

.text-7 {
  font-size: 8em; }

.text-8 {
  font-size: 9em; }

.text-9 {
  font-size: 10em; }

img {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%); }

.card {
  height: 100%; }
