<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    <!-- Font-awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Vue dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Vue production -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <link rel="stylesheet" href="./index.css">

    <title>Javier Parada</title>
</head>

<body>
    <div id="app">
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item is-size-2">
                                <i class="fab fa-firefox"></i>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li v-bind:class="{'is-active': tab == 'home'}" @click="setTab('home')">
                                            <a>{{ lang('HOME') }}</a>
                                        </li>
                                        <li v-bind:class="{'is-active': tab == 'skills'}" @click="setTab('skills')">
                                            <a>{{ lang('SKILLS') }}</a>
                                        </li>
                                        <li v-bind:class="{'is-active': tab == 'projects'}" @click="setTab('projects')">
                                            <a>{{ lang('PROJECTS') }}</a>
                                        </li>
                                        <li v-bind:class="{'is-active': tab == 'lan'}" @click="setTab('lan')">
                                            <a>{{ lang('LANGUAGE') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">

                <!-- Home -->
                <div v-if="tab == 'home'" class="container has-text-centered">
                    <div class="columns is-vcentered is-centered">
                        <div class="column is-3">
                            <figure class="image is-1by1">
                                <img src="https://avatars3.githubusercontent.com/u/19194763?s=460&v=4"
                                    class="is-rounded" alt="Description">
                            </figure>
                        </div>
                        <div class="column is-6 is-offset-1">
                            <h1 class="title is-2">
                                {{ lang('JAVIER_PARADA') }}
                            </h1>
                            <h2 class="subtitle is-4">
                                {{ lang('SOFTWARE_ENGINEER') }}
                            </h2>
                            <br>
                            <div class="columns is-centered is-multiline has-text-centered">
                                <div class="column is-2">
                                    <a target="_blank" href="https://github.com/kabi404"
                                        class="is-size-3 has-text-grey-dark">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                                <div class="column is-2">
                                    <a target="_blank" href="https://www.linkedin.com/in/kabi404/"
                                        class="is-size-3 has-text-grey-dark">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                                <div class="column is-2">
                                    <a target="_blank" href="https://twitter.com/kabi404"
                                        class="is-size-3 has-text-grey-dark">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="column is-2">
                                    <a href="mailto:kabi404@outlook.com" class="is-size-3 has-text-grey-dark">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Home -->

                <!-- Skills -->
                <div v-if="tab == 'skills'" class="container has-text-centered">

                    <div class="columns">
                        <div class="column is-4" v-for="card in lang('SKILLS_CARDS')">
                            <div class="card">
                                <div class="card-content skills-content">
                                    <h3 class="title is-4">{{card.title}}</h3>
                                    <div class="content">

                                        <article v-for="skill in card.skills" class="media">
                                            <div class="media-content">
                                                <div class="content has-text-centered">
                                                    <p>
                                                        <strong>{{skill.name}}</strong>
                                                        <br>
                                                        <progress class="progress is-info" v-bind:value="skill.score"
                                                            max="100"></progress>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Skills -->




            </div>

            <div class="hero-foot">
                <div class="container">
                    <div class="tabs is-centered">
                        <ul>
                            <li><a target="_blank"
                                    href="https://github.com/kabi404/kabi404.github.io">{{ lang('PAGE_HOSTED_ON_GITHUB') }}
                                    &nbsp;<i class="fab fa-github-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="./main.js"></script>

</body>

</html>